<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <h1>Home</h1>
    <h2>Hola, {{naming}}</h2>
     <form id="logoutForm" action="/logout"method="post">
        <input type="hidden" name="name" value="{{name}}">
        <input class="sub" type="submit" value="Salir">
    </form>

               <a href="/productos">productos</a>
               <a href="/proveedor">proveedor</a>


    <script>
        document.getElementById("logoutForm").addEventListener("submit", function(event) {
            window.location.href = "/";
        });

         document.getElementById("producto").addEventListener("submit", function(event) {
            window.location.href = "productos";
        });
    </script>
</body>
</html>

